<header class="header header-5">
  <div class="branding">
      <a href="#" class="nav-link">
          <img src="https://auburnhacks.com/images/brand/logo.svg" 
            width="80" height="80">
          <span class="title">Sponsor Portal</span>
      </a>
  </div>
  <div class="header-nav">
      <a routerLink="/" class="nav-link nav-text">Home</a>
      <a routerLink="/admin" class="active nav-link nav-text" *ngIf="this.authService.isAdmin()">Admin</a>
  </div>
  <div class="header-actions">
      <!-- <a href="#" class="nav-link nav-icon">
          <clr-icon shape="cog"></clr-icon>
      </a> -->
      <clr-dropdown>
          <button class="nav-icon" clrDropdownTrigger>
            <clr-icon shape="user"></clr-icon>
            <clr-icon shape="caret down"></clr-icon>
            <!-- <span class="title">Sai Kiran</span> -->
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a routerLink="/login" *ngIf="!user" clrDropdownItem>Login</a>
            <!-- <a href="/home/{{ id }}" *ngIf="user" clrDropdownItem>{{ user.name }}</a> -->
            <a routerLink="/home/{{ getUserId() }}" *ngIf="user" clrDropdownItem>
                {{ user.name }}
            </a>
            <a routerLink="/logout" *ngIf="user" clrDropdownItem>Logout</a>
        </clr-dropdown-menu>
      </clr-dropdown>
  </div>
</header>


<div class="container">
    <div *ngIf="showAddSponsorAlert()">
        <div class="alert alert-success" role="alert">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                    </div>
                    <span class="alert-text">Sponsor created</span>
                </div>
            </div>
        </div>
    </div>
  <h3>Add Sponsor</h3>
  <form [formGroup]="addSponsorForm" clrForm>
    <input clrInput type="text" placeholder="Sponsor's Name" name="sponsor_name"
    formControlName="sponsorName" />

    <br /> <br />

    <input clrInput type="text" placeholder="Sponsor's Email" name="sponsor_email"
    formControlName="sponsorEmail" />

    <br /> <br />
    
    <clr-password-container>
        <input clrPassword placeholder="Password" name="password" formControlName="sponsorPassword" />
        <clr-control-helper>
            <button class="btn btn-sm btn-link" (click)="generateUniquePassword()">Generate</button>
        </clr-control-helper>
    </clr-password-container>

    <br />
    
    <select formControlName="companyId">
        <option *ngFor="let company of companies" [ngValue]="company.id">{{ company.name }}</option>
    </select>
    
    <br /><br/>

    <!-- <label formArrayName="aclListMap" *ngFor="let acl of addSponsorForm.controls.aclListMap.controls; let i = index"> -->
    <label formArrayName="aclListMap" *ngFor="let acl of aclFormData['controls']; let i = index">
        <input type="checkbox" [formControlName]="i">
        {{ aclListMap[i].name }}
        <br />
    </label>
    <br /><br />
    <button class="btn btn-primary" (click)="createSponsor()">Submit</button>
  </form>
</div>
