<header class="header header-5">
  <div class="branding">
      <a href="#" class="nav-link">
          <img src="https://auburnhacks.com/images/brand/logo.svg" 
            width="80" height="80">
          <span class="title">Sponsor Portal</span>
      </a>
  </div>
  <div class="header-nav">
      <a routerLink="/" class="active nav-link nav-text">Home</a>
      <a routerLink="/admin/{{ this.authService.user().id }}" class="nav-link nav-text" *ngIf="this.authService.isAdmin()">Admin</a>
  </div>
  <div class="header-actions">
      <clr-dropdown>
          <button class="nav-icon" clrDropdownTrigger>
            <clr-icon shape="user"></clr-icon>
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a routerLink="/login" *ngIf="!user" clrDropdownItem>Login</a>
            <a routerLink="/home/{{ getUserId() }}" *ngIf="hasUser()" clrDropdownItem>{{ user.name }}</a>
            <a routerLink="/logout" *ngIf="user" clrDropdownItem>Logout</a>
        </clr-dropdown-menu>
      </clr-dropdown>
  </div>
</header>

<div class="container">
    <img style="align-content: center;" *ngIf="isSponsor()" src="{{ getLogoUrl() }}"
        width="100" height="100" />
    <p *ngIf="isSponsor()">
        AuburnHacks is proud to have {{ getCompanyName() }} as our
        sponsor.
    </p>
    <h1 style="text-align: center;">Participant Information</h1>
   <div class="clr-row clr-justify-content-between">
        <div class="clr-col-10" *ngIf="isSponsor()">
            
        </div>
   </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>School</th>
                <th>Major</th>
                <th>Graduation Year</th>
                <th>GitHub</th>
                <th>Resume</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of participants">
                <td>{{ p.name }}</td>
                <td>{{ p.email }}</td>
                <td>{{ p.university }}</td>
                <td>{{ p.major }}</td>
                <td>{{ p.gradYear }}</td>
                <td>{{ p.github }}</td>
                <td><a href="{{ p.resume }}">Link</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="clr-footer">
    Made with ❤️ by the AuburnHacks Team
</div>